<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.khsh.datac.patientview.mapper.master.PatientMapper">


    <select id="queryPatientVisitInfo"  parameterType="com.khsh.datac.patientview.vo.PatientVisitReqVO"
            resultType="com.khsh.datac.patientview.vo.PatientVisitVO">

        select empi,name,sex,birthday,address,visitType,inHospitalTime,outHospitalTime,visitCorp,visitOrg,visitOrgName,diagnosis,hospitalNum from (
        select distinct p.personid as  empi, p.xm as name,p.xb as sex,p.csrq as birthday, p.gzdwdz as address,
        '住院' as visitType, to_char(zy.rysj,'yyyymmdd') as inHospitalTime , to_char(zy.cysj,'yyyymmdd') as outHospitalTime ,
        zy.yljgdm as visitCorp, zy.jzksbm as visitOrg,zy.jzksmc as visitOrgName, zy.zdmc as diagnosis, zy.cisid as hospitalNum
        from TB_YL_Patient_Information p
        left join TB_YL_ZY_Medical_Record zy on p.personid = zy.personid
        where zy.rysj is not null
        <if test = "keyWord != null ">
            and (p.xm like concat('%',#{keyWord},'%') or
            zy.cisid like concat('%',#{keyWord},'%'))
        </if>
        <if test = "startTime != null and endTime != null">
            and zy.rysj between #{startTime} and #{endTime}
        </if>
        <if test = "orgs != null and orgs.size() != 0">
            and zy.jzksbm IN
            <foreach collection="orgs" index="index" item="org" open="(" separator="," close=")">
                #{org}
            </foreach>
        </if>
        union
        select distinct p.personid as  empi, p.xm as name ,p.xb as sex,p.csrq as birthday, p.gzdwdz as address,
        '门诊' as visitType, mz.jzksrq as inHospitalTime,'',
        mz.yljgdm as visitCorp, mz.jzksbm as visitOrg,mz.jzksmc as visitOrgName, mz.mzzdmc as diagnosis, mz.jzlsh as hospitalNum
        from TB_YL_Patient_Information p
        left join TB_YL_MZ_Medical_Record mz on p.personid = mz.personid
        where mz.jzksrq is not null
        <if test = "keyWord != null ">
            and (p.xm like concat('%',#{keyWord},'%') or
            mz.jzlsh like concat('%',#{keyWord},'%'))
        </if>
        <if test = "startTime != null and endTime != null">
            and to_date(mz.jzksrq, 'YYYYMMDD') between #{startTime} and #{endTime}
        </if>
        <if test = "orgs != null and orgs.size() != 0">
            and mz.jzksbm IN
            <foreach collection="orgs" index="index" item="org" open="(" separator="," close=")">
                #{org}
            </foreach>
        </if>
        ) foo
        <if test = "visitTypes != null and visitTypes.size() != 0">
        where visitType in
        <foreach collection="visitTypes" index="index" item="visitType" open="(" separator="," close=")">
            #{visitType}
        </foreach>
        </if>
        order by empi
    </select>


</mapper>
