<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.khsh.datacent.patientview.mapper.master.PatientMapper">



    <select id="queryPatientByPage"  parameterType="com.khsh.datacent.patientview.vo.PatientResult"
            resultType="com.khsh.datacent.patientview.vo.PatientResult">

          SELECT
          R.name, R.name_pin, R.age, R.sex, R.birthday, R.id_card, R.jiuzhen_card, R.huzhao_card,
          R.yibao_card, R.yibao_card_name,
            E.country,E.country_name,
            E.nation, E.nation_name,
            E.edu_degree,
            E.job, E.job_name,
            E.phone,
            E.email, E.addr_detail, E.addr_province, E.addr_city, E.addr_area,
            E.marriage_state, E.marriage_state_name,
            case when R.sex = '1' then '男' when R.sex = '2' then '女' else '未知' end as sexName,
            case when B.visit_type = '1' then '门诊' when B.visit_type = '2' then '住院' when B.visit_type = '3' then '急诊' else '其他' end as visitTypeName,
          B.*
        FROM pix_empi_his_r B INNER JOIN pix_empi_register R ON B.empi=R.empi
        <if test = "queryKeywords != null and queryKeywords!='' ">
            AND (
              R.name like concat(concat('%',#{queryKeywords}),'%')
              OR B.in_hospital_id like concat(concat('%',#{queryKeywords}),'%')
              OR B.bed_id like concat(concat('%',#{queryKeywords}),'%')
            )
        </if>
        <if test = "visitTypes != null and visitTypes.size() != 0">
            AND B.visit_type in
            <foreach collection="visitTypes" index="index" item="visitType" open="(" separator="," close=")">
                #{visitType}
            </foreach>
        </if>
        <if test=" (inHospitalStartTime!=null and inHospitalStartTime!='') or (inHospitalEndTime!=null and inHospitalEndTime!='') ">
            <choose>
                <when test=" (inHospitalStartTime!=null and inHospitalStartTime!='') and (inHospitalEndTime!=null and inHospitalEndTime!='') ">
                    AND B.in_hospital_date <![CDATA[ >=#{inHospitalStartTime} ]]>
                    AND B.in_hospital_date <![CDATA[ <=#{inHospitalEndTime} ]]>
                </when>
                <when test=" (inHospitalStartTime!=null and inHospitalStartTime!='') ">
                    AND B.in_hospital_date <![CDATA[ >=#{inHospitalStartTime} ]]>
                </when>
                <when test=" (inHospitalEndTime!=null and inHospitalEndTime!='') ">
                    AND B.in_hospital_date <![CDATA[ <=#{inHospitalEndTime} ]]>
                </when>
                <otherwise>

                </otherwise>

            </choose>
        </if>
        LEFT JOIN pix_empi_register_ext E ON E.empi=R.empi AND E.reg_uuid=R.uuid
        AND R.empi_flag=1
        order by B.in_hospital_date desc
    </select>



    <select id="queryPatientVisitsByPage"  parameterType="com.khsh.datacent.patientview.vo.PatientResult"
            resultType="com.khsh.datacent.patientview.vo.PatientResult">

        SELECT
        R.name, R.name_pin, R.age, R.sex, R.birthday, R.id_card, R.jiuzhen_card, R.huzhao_card,
        R.yibao_card, R.yibao_card_name,
        E.country,E.country_name,
        E.nation, E.nation_name,
        E.edu_degree,
        E.job, E.job_name,
        E.phone,
        E.email, E.addr_detail, E.addr_province, E.addr_city, E.addr_area,
        E.marriage_state, E.marriage_state_name,
        case when R.sex = '1' then '男' when R.sex = '2' then '女' else null end as sexName,
        case when B.visit_type = '1' then '门诊' when B.visit_type = '2' then '住院' when B.visit_type = '3' then '急诊' else '其他' end as visitTypeName,
        B.*
        FROM pix_empi_his_r B INNER JOIN pix_empi_register R ON B.empi=R.empi
        <if test = "queryKeywords != null and queryKeywords!='' ">
            AND (
            R.name like concat(concat('%',#{queryKeywords}),'%')
            OR B.in_hospital_id like concat(concat('%',#{queryKeywords}),'%')
            OR B.bed_id like concat(concat('%',#{queryKeywords}),'%')
            )
        </if>
        <if test = "visitTypes != null and visitTypes.size() != 0">
            AND B.visit_type in
            <foreach collection="visitTypes" index="index" item="visitType" open="(" separator="," close=")">
                #{visitType}
            </foreach>
        </if>
        <if test = "empiRels != null and empiRels.size() != 0">
            AND B.empi in
            <foreach collection="empiRels" index="index" item="empiNo" open="(" separator="," close=")">
                #{empiNo}
            </foreach>
        </if>
        <if test=" (inHospitalStartTime!=null and inHospitalStartTime!='') or (inHospitalEndTime!=null and inHospitalEndTime!='') ">
            <choose>
                <when test=" (inHospitalStartTime!=null and inHospitalStartTime!='') and (inHospitalEndTime!=null and inHospitalEndTime!='') ">
                    AND B.in_hospital_date <![CDATA[ >=#{inHospitalStartTime} ]]>
                    AND B.in_hospital_date <![CDATA[ <=#{inHospitalEndTime} ]]>
                </when>
                <when test=" (inHospitalStartTime!=null and inHospitalStartTime!='') ">
                    AND B.in_hospital_date <![CDATA[ >=#{inHospitalStartTime} ]]>
                </when>
                <when test=" (inHospitalEndTime!=null and inHospitalEndTime!='') ">
                    AND B.in_hospital_date <![CDATA[ <=#{inHospitalEndTime} ]]>
                </when>
                <otherwise>

                </otherwise>

            </choose>
        </if>
        LEFT JOIN pix_empi_register_ext E ON E.empi=R.empi AND E.reg_uuid=R.uuid
        order by B.in_hospital_date desc
    </select>


    <select  id="queryEmpiRelation" parameterType="com.khsh.datacent.patientview.model.PixEmpiRModel" resultType="com.khsh.datacent.patientview.model.PixEmpiRModel" >
		SELECT * FROM pix_empi_r where
        empi=#{empi} OR rel_empi=#{empi}
        UNION ALL
        SELECT B.* FROM  pix_empi_r B INNER JOIN (
          SELECT empi FROM pix_empi_r
          where empi=#{empi} OR rel_empi=#{empi}
        ) T ON B.empi=T.empi
        <!--<if test=" (empi!=null and empi!='') or (relEmpi!=null and relEmpi!='') ">-->
            <!--<choose>-->
                <!--<when test=" (empi!=null and empi!='') and (relEmpi!=null and relEmpi!='') ">-->
                    <!--AND (empi=#{empi} OR rel_empi=#{empi})  OR (empi=#{relEmpi} OR rel_empi=#{relEmpi})-->
                <!--</when>-->
                <!--<when test=" (empi!=null and empi!='') ">-->
                    <!--AND empi=#{empi} OR rel_empi=#{empi}-->
                <!--</when>-->
                <!--<when test=" (rel_empi!=null and rel_empi!='') ">-->
                    <!--AND empi=#{relEmpi} OR rel_empi=#{relEmpi}-->
                <!--</when>-->
                <!--<otherwise>-->

                <!--</otherwise>-->

            <!--</choose>-->
        <!--</if>-->

    </select>

    <select id="queryEmpi" parameterType="com.khsh.datacent.patientview.dto.PatientParam" resultType="string" >
        SELECT B.empi FROM pix_empi_register B
        WHERE B.id_card = '0000000000'
        <if test = "idCard != null and idCard!='' ">
            OR B.id_card=#{idCard}
        </if>

        <if test = "(patientId!=null and patientId!='') or (inpatientId!=null and inpatientId!='') or (inHospitalId!=null and inHospitalId!='') ">
            <choose>
                <when test=" patientId!=null and patientId!='' ">
                    UNION ALL
                    SELECT R.empi FROM pix_empi_his_r R
                    WHERE upper(R.patient_id)=upper(#{patientId})
                </when>
                <when test=" inpatientId!=null and inpatientId!='' ">
                    UNION ALL
                    SELECT R.empi FROM pix_empi_his_r R
                    WHERE upper(R.inpatient_id)=upper(#{inpatientId})
                </when>
                <when test=" inHospitalId!=null and inHospitalId!='' ">
                    UNION ALL
                    SELECT R.empi FROM pix_empi_his_r R
                    WHERE R.in_hospital_id=#{inHospitalId}
                </when>
            </choose>


        </if>

    </select>

    <select id="queryEmpiByIdcard" parameterType="com.khsh.datacent.patientview.dto.PatientParam" resultType="string" >
        SELECT B.empi FROM pix_empi_register B
        WHERE B.id_card=#{idCard}
    </select>



</mapper>
