<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.khsh.datac.patientview.mapper.slave.OMOdersMapper">

    <!-- 查询医嘱信息 -->
    <select id="queryPatientOmOrdersByPage"  parameterType="com.khsh.datac.patientview.vo.OMOrdersDetailVO"
            resultType="com.khsh.datac.patientview.vo.OMOrdersDetailVO">
        select * from  OM_ORDERS_DETAIL
        WHERE 1=1
        <if test = "empiID!=null  and empiID!=''">
            and empiID=#{empiID}
        </if>
        <if test = "inhospNo!=null  and inhospNo!=''">
            and inhospNo=#{inhospNo}
        </if>
        <if test = "ordersCategCode!=null  and ordersCategCode!=''">
            and ordersCategCode=#{ordersCategCode}
        </if>

    </select>



</mapper>
