<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.khsh.datac.empi.mapper.PixEmpiIdentityContactDao">

	<sql id="SqlWhere">
		<where>
			1=1
			<if test="id!=null ">and id=#{id} </if>
			<if test="regUuid!=null and regUuid!='' ">and reg_uuid=#{regUuid} </if>
			<if test="empi!=null and empi!='' ">and empi=#{empi} </if>
			<if test="relation!=null and relation!='' ">and relation=#{relation} </if>
			<if test="relationName!=null and relationName!='' ">and relation_name=#{relationName} </if>
			<if test="relationNamePin!=null and relationNamePin!='' ">and relation_name_pin=#{relationNamePin} </if>
			<if test="relationSex!=null and relationSex!='' ">and relation_sex=#{relationSex} </if>
			<if test="relationPhone!=null and relationPhone!='' ">and relation_phone=#{relationPhone} </if>
			<if test="addrProvince!=null and addrProvince!='' ">and addr_province=#{addrProvince} </if>
			<if test="addrCity!=null and addrCity!='' ">and addr_city=#{addrCity} </if>
			<if test="addrArea!=null and addrArea!='' ">and addr_area=#{addrArea} </if>
			<if test="addrDetail!=null and addrDetail!='' ">and addr_detail=#{addrDetail} </if>
			<if test="zipCode!=null and zipCode!='' ">and zip_code=#{zipCode} </if>
			<if test="status!=null and status!='' ">and status=#{status} </if>
			<if test="remark!=null and remark!='' ">and remark=#{remark} </if>
			<if test="createBy!=null and createBy!='' ">and create_by=#{createBy} </if>
			<if test="createTime!=null and createTime!='' ">and create_time=#{createTime} </if>
			<if test="updateTime!=null and updateTime!='' ">and update_time=#{updateTime} </if>
			<if test="ext!=null and ext!='' ">and ext=#{ext} </if>
		</where>
	</sql>
	<sql id="SqlWherePK">
		<where>
			1=1
			<if test="id!=null ">and id=#{id} </if>
		</where>
	</sql>
	<sql id="SqlSet">
		<set>
			<if test="id!=null "> id=#{id}, </if>
			<if test="regUuid!=null and regUuid!='' "> reg_uuid=#{regUuid}, </if>
			<if test="empi!=null and empi!='' "> empi=#{empi}, </if>
			<if test="relation!=null and relation!='' "> relation=#{relation}, </if>
			<if test="relationName!=null and relationName!='' "> relation_name=#{relationName}, </if>
			<if test="relationNamePin!=null and relationNamePin!='' "> relation_name_pin=#{relationNamePin}, </if>
			<if test="relationSex!=null and relationSex!='' "> relation_sex=#{relationSex}, </if>
			<if test="relationPhone!=null and relationPhone!='' "> relation_phone=#{relationPhone}, </if>
			<if test="addrProvince!=null and addrProvince!='' "> addr_province=#{addrProvince}, </if>
			<if test="addrCity!=null and addrCity!='' "> addr_city=#{addrCity}, </if>
			<if test="addrArea!=null and addrArea!='' "> addr_area=#{addrArea}, </if>
			<if test="addrDetail!=null and addrDetail!='' "> addr_detail=#{addrDetail}, </if>
			<if test="zipCode!=null and zipCode!='' "> zip_code=#{zipCode}, </if>
			<if test="status!=null and status!='' "> status=#{status}, </if>
			<if test="remark!=null and remark!='' "> remark=#{remark}, </if>
			<if test="createBy!=null and createBy!='' "> create_by=#{createBy}, </if>
			<if test="createTime!=null and createTime!='' "> create_time=#{createTime}, </if>
			<if test="updateTime!=null and updateTime!='' "> update_time=#{updateTime}, </if>
			<if test="ext!=null and ext!='' "> ext=#{ext}, </if>
		</set>
	</sql>


	<insert  id="insertAutoKey" parameterType="com.khsh.datac.empi.model.PixEmpiIdentityContactModel" useGeneratedKeys="true" keyProperty="id" >
		 INSERT INTO pix_empi_identity_contact (
 			reg_uuid, empi, relation, relation_name, 
 			relation_name_pin, relation_sex, relation_phone, addr_province, addr_city, 
 			addr_area, addr_detail, zip_code, status, remark, 
 			create_by, create_time, update_time, ext ) 	 VALUES ( 
 			#{regUuid}, #{empi}, #{relation}, #{relationName}, 
 			#{relationNamePin}, #{relationSex}, #{relationPhone}, #{addrProvince}, #{addrCity}, 
 			#{addrArea}, #{addrDetail}, #{zipCode}, #{status}, #{remark}, 
 			#{createBy}, #{createTime}, #{updateTime}, #{ext} ) 
	</insert>

	<insert  id="insertSingle" parameterType="com.khsh.datac.empi.model.PixEmpiIdentityContactModel" useGeneratedKeys="true" keyProperty="id" >
		 INSERT INTO pix_empi_identity_contact (
 			reg_uuid, empi, relation, relation_name, 
 			relation_name_pin, relation_sex, relation_phone, addr_province, addr_city, 
 			addr_area, addr_detail, zip_code, status, remark, 
 			create_by, create_time, update_time, ext,  id ) 
		 VALUES( 
 			#{regUuid}, #{empi}, #{relation}, #{relationName}, 
 			#{relationNamePin}, #{relationSex}, #{relationPhone}, #{addrProvince}, #{addrCity}, 
 			#{addrArea}, #{addrDetail}, #{zipCode}, #{status}, #{remark}, 
 			#{createBy}, #{createTime}, #{updateTime}, #{ext},  #{id} ) 
	</insert>

	<delete  id="delete" parameterType="com.khsh.datac.empi.model.PixEmpiIdentityContactModel" >
		 DELETE FROM pix_empi_identity_contact
		 <include refid="SqlWhere"></include> 
	</delete>

	<update  id="update" parameterType="com.khsh.datac.empi.model.PixEmpiIdentityContactModel" >
		 UPDATE pix_empi_identity_contact
		 <include refid="SqlSet"></include> 
		 <include refid="SqlWherePK"></include> 
	</update>

	<select  id="findByPK" parameterType="com.khsh.datac.empi.model.PixEmpiIdentityContactModel" resultType="com.khsh.datac.empi.model.PixEmpiIdentityContactModel" >
		 SELECT * FROM pix_empi_identity_contact
		 <include refid="SqlWherePK"></include> 
		 <if test=" orderCond !=null ">  order by ${orderCond} </if> 
	</select>

	<select  id="queryByCond" parameterType="com.khsh.datac.empi.model.PixEmpiIdentityContactModel" resultType="com.khsh.datac.empi.model.PixEmpiIdentityContactModel" >
		 SELECT * FROM pix_empi_identity_contact
		 <include refid="SqlWhere"></include> 
		 <if test=" extSQL !=null "> ${extSQL} </if> 
		 <if test=" orderCond !=null ">  order by ${orderCond} </if> 
	</select>

	<select  id="queryByPage" parameterType="com.khsh.datac.empi.model.PixEmpiIdentityContactModel" resultType="com.khsh.datac.empi.model.PixEmpiIdentityContactModel" >
		 SELECT * FROM pix_empi_identity_contact
		 <include refid="SqlWhere"></include> 
		 <if test="extSQL!=null "> ${extSQL} </if> 
	</select>

	<select  id="findMaxId" parameterType="com.khsh.datac.empi.model.PixEmpiIdentityContactModel" resultType="int" >
		 SELECT max(id) FROM pix_empi_identity_contact
		 <include refid="SqlWhere"></include> 
	</select>

</mapper>